.container
  .span10.offset1
    .row
      .span
        %h1
          {{{ title }}}
    .row
      #slideshow.swipe
        %ul
          %li{:style => "display:block"}
            %div 1
          %li{:style => "display:none"}
            %div 2
          %li{:style => "display:none"}
            %div 3
          %li{:style => "display:none"}
            %div 4
          %li{:style => "display:none"}
            %div 5
      .brand
        {{{ image_tag brandImage}}}
    .row
      .span10
        .row
          .span5
            %h2 
              Description
            %p
              {{{ fullDescription }}}
          .span5
            %h2 
              Features
            %ul#features

    .row
      .span
        %ul.pager
          %li#back
            %a
              Back

