.container
  .span10.offset1
    .row
      .span
        %h1
          {{{ title }}}
    .row.slideshow_container
      #slideshow.swipe
        %ul
      .brand
        {{{ image_tag brandImage}}}
    .row
      .span10
        .row
          .span5
            %h2 
              Description
            %p
              {{{ fullDescription }}}
          .span5
            %h2 
              Features
            %ul#features

    .row
      .span
        #back
          %a
            =image_tag "/images/back.png"

