.container
  .span10.offset1
    #title-wrapper
      %h1
        {{{ title }}}

    #detail-wrapper
      .row
        #slideshow.swipe
          %ul
        .brand
          {{{ image_tag brandImage}}}
        #transparency
        #mask
          .row
            .span10
              .row
                .span5
                  %h2 
                    Description
                  %p
                    {{{ fullDescription }}}
                .span5
                  %h2 
                    Features
                  %ul#features
    .row
      .span
        #back
          %a
            =image_tag "/images/back.png"

