body.bc-app
  .navbar .navbar-inner
    background: #5eaae5
    background: -moz-linear-gradient(top, #5eaae5 0%, #005695 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5eaae5), color-stop(100%, #005695))
    background: -webkit-linear-gradient(top, #5eaae5 0%, #005695 100%)
    background: -o-linear-gradient(top, #5eaae5 0%, #005695 100%)
    background: -ms-linear-gradient(top, #5eaae5 0%, #005695 100%)
    background: linear-gradient(to bottom, #5eaae5 0%, #005695 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5eaae5', endColorstr='#005695',GradientType=0 )
    color: #fff

#main-block
  padding-top: 60px
  .isotope-item
    border: 1px solid #ccc
    text-align: center
    width: 220px
    img
      width: 200px 

#admin
  display: none
  padding-top: 60px

