.row.black
  .navbar.navbar-fixed-top
    .navbar-inner
      %a.brand{:href => "#"} 
      .span.brand
        Backcountry
      %ul.nav
        %li.active
          %a{:href => "#"} Admin
        %li
          %a{id: "reload", :href => "/"} Reload App
.container
  .row
    .container
      .row
        .row
          %form
          .span6
            %h1 SetupQuery:
            %p
              Submit a query
            .row
              .span
                %input{id: "hashtag", :placeholder => "Eyewear", :type => "text"}
              .span1
                %button.btn.btn-primary{id: "hashtag_submit", :type => "submit"} Submit
            .row
              .span
                #saved-query
                  %p
          .span6
            %h1
              Instructions:
            .span
              %h3 1 - Setup a Query
              %h3 2 - Reload App
        .hr
        .row
          .span6
            %hr
              %h1
                Shortcuts:
              .span
                %h3
                  ctrl + a = Toggle between Admin and BC App

