.container
  .row
    .span9
      #grid
    .span3
      #filters
        %ul.nav.nav-list.affix
          %li.active
            %a{:href => "#!/gender"}
              %i.icon-chevron-right
              Gender
            %ul
              %li
                %a{:href => "#buttonGroups"}
                  %i.icon-chevron-right
                  Button groups
              %li
                %a{:href => "#buttonDropdowns"}
                  %i.icon-chevron-right
                  Button dropdowns
              %li
                %a{:href => "#navs"}
                  %i.icon-chevron-right
                  Navs
          %li.active
            %a{:href => "#navbar"}
              %i.icon-chevron-right
              Navbar
          %li
            %a{:href => "#breadcrumbs"}
              %i.icon-chevron-right
              Breadcrumbs
          %li
            %a{:href => "#pagination"}
              %i.icon-chevron-right
              Pagination
          %li
            %a{:href => "#labels-badges"}
              %i.icon-chevron-right
              Labels and badges
          %li
            %a{:href => "#typography"}
              %i.icon-chevron-right
              Typography
          %li
            %a{:href => "#thumbnails"}
              %i.icon-chevron-right
              Thumbnails
          %li
            %a{:href => "#alerts"}
              %i.icon-chevron-right
              Alerts
          %li
            %a{:href => "#progress"}
              %i.icon-chevron-right
              Progress bars
          %li
            %a{:href => "#misc"}
              %i.icon-chevron-right
              Misc

            