#main-block
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        %p 
          Backcountry

  =partial '/views/main'

#admin
  .row
    .container
      .span
        = partial "views/admin"


