#main-block
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        %p 
          "Backcountry Deliens test"

  .row
    .container 
      %h1
        BC - Hackathon
        .btn.btn-success
          TEST

#admin
  .row
    .container
      .span
        = partial "views/admin"