#main-block
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        .span.logo
          = image_tag "http://www.25este75sur.com/wp-content/themes/cooolzine/img/25logo-mini.png"

  =partial '/views/main'
#detail

#admin
  .row
    .container
      .span
        = partial "views/admin"


%script#item-template{:type => "text/x-handlebars-template"}
  =partial "/views/jst/item"

%script#detail-template{:type => "text/x-handlebars-template"}
  =partial "/views/jst/detail"

%script#filter-template{:type => "text/x-handlebars-template"}
  =partial "/views/jst/filter"

%script#detail-image-slide-template{:type => "text/x-handlebars-template"}
  =partial "/views/jst/detail_slide"

%script#detail-feature-template{:type => "text/x-handlebars-template"}
  =partial "/views/jst/detail_feature"
