#main-block
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        %p 
          Backcountry

  =partial '/views/main'
#detail

#admin
  .row
    .container
      .span
        = partial "views/admin"


%script#item-template{:type => "text/x-handlebars-template"}
  =partial "/views/jst/item"

%script#detail-template{:type => "text/x-handlebars-template"}
  =partial "/views/jst/detail"

%script#filter-template{:type => "text/x-handlebars-template"}
  =partial "/views/jst/filter"